* {
    max-width: 100%;
}

body {
    height: 100%;
    width: 100%;
    margin: 0;
}

#presentation {
    display: block;
    height: 400px;
    width: 620px;
    border: 4px solid green;
    border-radius: 5px;
    margin: 20px auto 0 auto;
}

#title,
#text {
    font-family: "Roboto";
    margin-left: 15px;
    min-width: 600px;
    overflow: visible;
}

#title {
    color: green;
    font-weight: 700;
}

#text {
    color: black;
    font-weight: 500;
}

#arrow-left {
    position: absolute;
    top: 210px;
    left: 400px;
    color: black;
}
#arrow-right {
    position: absolute;
    top: 210px;
    left: 1090px;
    color: black;

}

#quiz {
    display: block;
    height: 1500px;
    width: 900px;
    border: 2px solid black;
    margin: 200px auto 0 auto;
}

#title-kviz {
    font-family: "Roboto";
    font-weight: 700;
    margin-left: 8px;
}

#match {
    height: 600px;
    width: 100%;
    border: 2px solid red;
}

#match img {
    height: 100px;
    width: auto;
}
@keyframes outSlide {
    from {
        margin-left: 0;
      
    }

    to {
        margin-left: -600px;

    }
}

@keyframes inSlide {
    from {
        margin-left: 0;
      
    }

    to {
        margin-left: 600px;

    }
}
